---
import ProjectCategoriesTabs from '@components/ProjectCategoriesTabs';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Home">
  <section class="hero">
    <div class="hero__text">
      <h1>
        Hi, I’m Jess<span>*</span>
      </h1>
      <h2>
        I’m a product designer,<br />
        who strives to make life easier for users.
      </h2>
      <h3>
        Originally from Seoul and live in the<br />
        Greater Toronto Area.
      </h3>
      <div class="hero__links">
        <a href="/">About</a>
        <span>|</span>
        <a href="/">
          <span>Resume</span>
          <div>
            <img
              src="/icons/link_arrow_right_up.svg"
              alt="Link arrow right up icon"
            />
          </div>
        </a>
      </div>
    </div>
    <canvas id="canvas3d" width="328px" height="472px"></canvas>
  </section>
  <section class="projects">
    <ProjectCategoriesTabs />
  </section>
</Layout>

<style>
  .hero {
    padding: 0px 183px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 250px;
    align-items: center;
    min-height: 600px;
    box-sizing: border-box;
  }
  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 497px;
  }
  .hero__text > h1 {
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 26px;
  }
  .hero__text > h1 > span {
    color: #1f73f1;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    vertical-align: top;
  }
  .hero__text > h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 8px;
  }
  .hero__text > h3 {
    color: #979fac;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 22px;
  }

  .hero__links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .hero__links > a {
    display: flex;
    gap: 5px;
  }

  .projects {
    padding: 0px clamp(96px, 7vw, 183px);
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
</style>
<script>
  import { Application } from '@splinetool/runtime';

  const canvas = document.getElementById('canvas3d') as HTMLCanvasElement;
  const app = new Application(canvas);
  app.load('https://prod.spline.design/O9V9WwBqWrCJUwzS/scene.splinecode');
</script>
