<footer id="site-footer">
  <div class="footer-content">
    <p class="name"><strong>Jess Oh</strong></p>
    <p class="email">
      <a href="mailto:sailseven7@gmail.com">sailseven7@gmail.com</a>
    </p>
    <nav>
      <ul>
        <li>
          <a href="/"> About </a>
        </li>
        <li>
          <a href="/">
            Resume
            <div>
              <img
                src="/icons/link_arrow_right_up.svg"
                alt="Link arrow right up icon"
              />
            </div>
          </a>
        </li>
        <li>
          <a href="/">
            LinkedIn
            <div>
              <img
                src="/icons/link_arrow_right_up.svg"
                alt="Link arrow right up icon"
              />
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 Made by Jess Oh</p>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 96px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .name {
    color: rgba(231, 231, 231, 0.6);
    font-size: 100px;
    font-weight: 700;
  }

  .email {
    margin-top: 20px;
    font-size: 20px;
  }

  nav {
    margin-top: 70px;
  }

  ul {
    display: flex;
    gap: 28px;
    font-size: 20px;
  }

  ul li a {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .footer-bottom {
    border-top: 1px solid #ababab;
    padding-top: 24px;
  }
</style>
