<header id="side-header">
  <div class="header-container">
    <a href="/" aria-label="Back to Jess's portfolio home page">
      <span class="logo">JESS OH</span>
    </a>
    <nav class="mainnav" aria-label="Main">
      <ul>
        <li>
          <button>
            <span>Projects</span>
            <div>
              <img
                src="/icons/keyboard_arrow_down.svg"
                alt="Keyboard arrow down icon"
              />
            </div>
          </button>
        </li>
        <li>
          <a href="/">Experiments</a>
        </li>
        <li>
          <a href="/">About</a>
        </li>
        <li>
          <a href="/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  #side-header {
    padding: 11px 96px;
    height: 52px;
  }

  .header-container {
    width: 100%;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-family: "halogen", sans-serif;
    font-size: 15px;
    font-weight: 900;
  }
  .mainnav > ul {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .mainnav > ul > li > button {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .mainnav > ul > li > button > span {
    font-weight: 700;
  }
  .mainnav > ul > li > button > div {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainnav > ul > li > a {
    font-size: 15px;
    font-weight: 400;
  }
</style>
