---
import 'normalize.css';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Product designer Jess's portfolio website"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script>
            (function (d) {
                var config = {
                        kitId: 'ifp3api',
                        scriptTimeout: 3000,
                        async: true,
                    },
                    h = d.documentElement,
                    t = setTimeout(function () {
                        h.className =
                            h.className.replace(/\bwf-loading\b/g, '') +
                            ' wf-inactive';
                    }, config.scriptTimeout),
                    tk = d.createElement('script'),
                    f = false,
                    s = d.getElementsByTagName('script')[0],
                    a;
                h.className += ' wf-loading';
                tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
                tk.async = true;
                // @ts-ignore
                tk.onload = tk.onreadystatechange = function () {
                    // @ts-ignore
                    a = this.readyState;
                    if (f || (a && a != 'complete' && a != 'loaded')) return;
                    f = true;
                    clearTimeout(t);
                    try {
                        // @ts-ignore
                        Typekit.load(config);
                    } catch (e) {}
                };
                // @ts-ignore
                s.parentNode.insertBefore(tk, s);
            })(document);
        </script>
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
<style is:global>
    :root {
        --Black: #2d2d2d;
    }
    html {
        font-family: 'pretendard', sans-serif;
        font-weight: 400;
        font-style: normal;
        background: #ededed;
    }
    body {
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr;
    }
    /* Reset CSS */
    a {
        text-decoration: none;
    }
    button {
        border: none;
        background-color: transparent;
    }
    ul,
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
</style>
