---
import 'normalize.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Product designer Jess's portfolio website"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script>
            (function (d) {
                var config = {
                        kitId: 'ifp3api',
                        scriptTimeout: 3000,
                        async: true,
                    },
                    h = d.documentElement,
                    t = setTimeout(function () {
                        h.className =
                            h.className.replace(/\bwf-loading\b/g, '') +
                            ' wf-inactive';
                    }, config.scriptTimeout),
                    tk = d.createElement('script'),
                    f = false,
                    s = d.getElementsByTagName('script')[0],
                    a;
                h.className += ' wf-loading';
                tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
                tk.async = true;
                // @ts-ignore
                tk.onload = tk.onreadystatechange = function () {
                    // @ts-ignore
                    a = this.readyState;
                    if (f || (a && a != 'complete' && a != 'loaded')) return;
                    f = true;
                    clearTimeout(t);
                    try {
                        // @ts-ignore
                        Typekit.load(config);
                    } catch (e) {}
                };
                // @ts-ignore
                s.parentNode.insertBefore(tk, s);
            })(document);
        </script>
    </head>
    <body>
        <header>
            <nav>
                <div class="logo-wrapper">
                    <a href="/">
                        <img src="/favicon.svg" alt="Jess's logo" />
                    </a>
                </div>
                <div class="nav-wrapper">
                    <button class="nav-item">
                        <span class="nav-item__label nav-item__label--bold"
                            >Projects</span
                        >
                        <img
                            src="/icons/keyboard-arrow-down.svg"
                            alt="Arrow down"
                        />
                    </button>
                    <a href="/" class="nav-item__label">Experiments</a>
                    <a href="/" class="nav-item__label">Interests</a>
                    <a href="/" class="nav-item__label">Contact</a>
                </div>
            </nav>
        </header>
        <main>
            <slot />
        </main>
        <footer></footer>
    </body>
</html>
<style is:global>
    :root {
        --Black: #2d2d2d;
    }

    html {
        font-family: 'pretendard', sans-serif;
        font-weight: 400;
        font-style: normal;
        background: #ededed;
    }

    a {
        text-decoration: none;
    }

    button {
        border: none;
        background-color: transparent;
    }
</style>
<style>
    header {
        padding: 11px 96px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-wrapper {
        width: 40px;
        height: 40px;
    }

    .nav-wrapper {
        display: flex;
        gap: 40px;
    }

    .nav-item {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .nav-item__label {
        color: var(--Black);
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
    }

    .nav-item__label--bold {
        font-weight: 700;
    }
</style>
